body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#modeSelection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0 10px;
}

button:hover {
    background-color: #45a049;
}

#gameContainer {
    display: none;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 20px auto;
    max-width: 300px; 
}

.cell {
    width: 100%;
    padding: 0;
    aspect-ratio: 1/1; 
    font-size: 2em; 
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background-color: #f0f0f0;
}

.result {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

#resetBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

#resetBtn:hover {
    background-color: #45a049;
}
